
<div class="map-banner text--white">
  <div class="map-banner__bg"></div>
  <div class="map-banner__markers">
    {% assign locations = page.banner.locations %}
    {% for location in locations %}
    <div class="map-banner__marker map-banner__marker--{{ location.title | slugify }}">{{ location.title }}</div>
    {% endfor %}
  </div>

  <div class="map-banner__content">
    <div class="container text--center">
      <div class="width width--lg title title--xxs text--bold">
        <span class="text--wide-kern text--upper">Discover the Caribbean</span>
      </div>
      <h1 class="title title--xxxxl text--bold">The Big Sale</h1>
      <div class="space--md"></div>
    </div>
  </div>
  <div class="banner__overlay"></div>
  <div class="banner__nav">
    {% include nav/site.html %}
  </div>
</div>