---
layout: default
title: Overview
class: overview
nav-order: 1
intro: >
  <p class="p--large p--bold">Immerse yourself in the envious heat, tropical saunter and luxurious offerings of a Sandals Caribbean escape this Christmas.</p>
  <p>Discover exotic delights and sumptuous excesses at these all-inclusive resorts – resorts that span the finest idylls the Caribbean has to offer. With <strong>The 12 Days of Christmas</strong> sale, you can stop dreaming and start planning your very own luxury escape. Whether you want to unpick the volcanic rainforests of Saint Lucia or prop up the beachside rum shacks of Barbados, <strong>save up to 55% plus up to £200 off</strong> your booking and make your Caribbean getaway reality. </p>
  <p>Browse these coveted resorts and choose your favourite – can’t choose? Play our quick game to match the perfect resort to you! Once you’ve chosen your ideal Caribbean escape, enter one of the codes below on the Sandals website to redeem your discount, on top of <strong>The 12 Days of Christmas</strong> saving.</p>
  <p>Hurry, offer ends 8 January 2018!</p>

---



<section class="invert-text map">
  <div class="map__bg"></div>
  <div class="row map__markers">
    {% assign locations = site.pages %}
    {% for location in locations %}
    {% if location.layout == 'offer-category' %}
    <a class="map__marker map__marker--{{ location.title | slugify }}" href="{{ site.baseurl }}{{ location.url }}">{{ location.title }}</a>
    {% endif %}
    {% endfor %}
  </div>
  <div class="map__title">
    <div class="row row--padding align-center">
      <h1 class="map__divider title title--larger title--bold title--upper">The Caribbean</h1>
      <h2 class="title title--smallest title--expanded title--light title--upper">Glorious sunshine awaits</h2>
      <a href="{{site.baseurl}}/game" class="btn btn--invert">Find your perfect resort</a>
    </div>
  </div>
  <div class="banner__overlay"></div>
</section>

{% include microsite-navigation.html %}




<div class="upper-content">

  <section class="section bg--white">
    <div class="row row--padding align-center">
      {{page.intro}}
    </div>

    <div class="row row--thin align-center">
      <div class="discount invert-text">
        <div class="discount__inner">
          <p class="title title--smallest title--expandeder">12DAYS1</p>
          <p class="title title--bold">7 nights or more for £150 discount</p>
        </div>
      </div>
      <div class="discount invert-text">
        <div class="discount__inner">
          <p class="title title--smallest title--expandeder">12DAYS2</p>
          <p class="title title--bold">10 nights or more for £200 discount</p>
        </div>
      </div>
    </div>

    <div class="row row--padding">
      <div class="video js-youtube-thumbnail" data-thumbnail-img="img/content/video.jpg">
        <iframe class="video__iframe" src='https://www.youtube.com/embed/zKZMfxlw-jE?rel=0&amp;showinfo=0' frameborder='0'></iframe>
      </div>
    </div>

  </section>



  <section class="section bg--light-grey">
    <div class="row row--padding">

      {% assign offers = site.data.offers | sort: 'price' %}
      {% for offer in offers %}
        {% if offer.category == "Multi Centre" %}
          {% include offer/full-width-multi.html %}
        {% else %}
          {% include offer/full-width.html %}
        {% endif %}
      {% endfor %}

    </div>
  </section>




</div>