---
layout: default
title: Overview
class: overview
nav-order: 1
intro: From volcanic landscapes in St. Lucia, to the rocksteady saunter of Jamaica, the Caribbean is a patchwork of sheer beauty and vibrant culture, ready for any intrepid paradise seeker. From white sands and beach bars, to the sheer luxury of a Sandals resort, your perfect island getaway is just around the corner.
---



<section class="invert-text map">
  <div class="map__bg"></div>
  <div class="row map__markers">
    {% assign locations = site.pages %}
    {% for location in locations %}
    {% if location.layout == 'offer-category' %}
    <a class="map__marker map__marker--{{ location.title | slugify }}" href="{{ site.baseurl }}{{ location.url }}">{{ location.title }}</a>
    {% endif %}
    {% endfor %}
  </div>
  <div class="map__title">
    <div class="row row--padding align-center">
      <h1 class="map__divider title title--larger title--bold title--upper">The Caribbean</h1>
      <h2 class="title title--smallest title--expanded title--light title--upper">Glorious sunshine awaits</h2>
      <a href="#game" class="game__reset game__start-btn btn btn--small btn--invert">Play the game</a>
    </div>
  </div>
  <div class="banner__overlay"></div>
</section>

{% include title-banner.html %}



<div class="upper-content">

  <section class="section bg--white">
    <div class="row row--padding align-center">
      <p class="paragraph--large">{{page.intro}}</p>
      <p>Whether you’re after the perfect romantic getaway in a couples-only resort, or wish to take the whole family, you needn’t compromise on comfort. With Autumn causing a shiver, Sandals exclusive offer will have you warmed up in no time, dreaming of golden shorelines and your very own island paradise.</p>
    </div>
    <div class="row row--padding">
      <div class="video js-youtube-thumbnail" data-thumbnail-img="img/content/video.jpg">
        <iframe class="video__iframe" src='https://www.youtube.com/embed/Riz-sqygEwg?rel=0&amp;showinfo=0' frameborder='0'></iframe>
      </div>
    </div>

  </section>


  {% include game.html %}

</div>