---
layout: default
title: Multi Centre
class: multi-centre
nav-order: 9
intro: With 15 resorts spanning the most breathtaking hideaways of the Caribbean, Sandals is a byword for luxury holidays in this beautiful part of the world – and now, you don’t have to choose between them! The new multi-centre holidays offer the chance to island hop from the comfort of Sandals resorts, and explore the variety and unique cultural identities on offer in the Caribbean sea.
---

{% assign page-class = page.title %}

{% include title-banner.html %}



<section class="section bg--white">
  <div class="row row--padding align-center">
    <p class="paragraph--large">{{page.intro}}</p>
  </div>
</section>

<section class="section banner" style="background-image: url('{{site.baseurl}}/img/bg/{{page.title | slugify}}-02.jpg');"></section>

<section class="section offers bg--light-grey">
  <div class="row row--padding">
    {% assign offers = site.data.offers | where: "category", page-class %}
    {% for offer in offers %}
      {% include offer/full-width-multi.html %}
    {% endfor %}
  </div>
</section>