<footer class="site-footer">
  <div class="row">
    © Copyright <span class="js-year">2016</span> Secret Escapes
  </div>
  <div class="row">
    *Book by 30 November 2016 for travel up to 26 December 2018. Discount varies depending on resort, room type booked and date of travel between 20-45%, minimum stay 3 nights. Discount is off accommodation portion only. Up to £500 air credit valid at selected resorts and is valid between £150 and £500 per booking, minimum stay 6 nights. Further terms & conditions and blackout dates apply.
  </div>
</footer>