<footer class="site-footer">
  <div class="row">
    © Copyright <span class="js-year">2016</span> Secret Escapes
  </div>
  <div class="row">
    *Book by midnight on 25 Oct 2016 for travel up to 20 Dec 2017. Discount varies depending on resort, room type booked and date of travel: between 20-50%. Min stay 5 nights. Discount is off accommodation portion only. Up to £700 air credit available at selected resorts, room categories and travel dates valued between £150 and £700 per booking, min stay 6 nights for travel up to 26 Dec 2017. ^Extra £125 discount is per booking, valid on package bookings only on selected departures in July and August 2017 only. Valid on package bookings only. Not combinable with any other promo code offer. Terms and conditions and blackout dates apply
  </div>
</footer>