<div class="js-modal modal modal--padding modal--small is-closed" id="modal-terms-and-conditions">
  <div class="modal__wrap row--thinner">
    <div class="js-close-modal modal__close"></div>
  </div>
  <div class="modal__wrap row--thinner">
    <div class="modal__content row--padding">
      <h2 class="title title--small title--bold title--dark">Terms &amp; Conditions</h2>
      <p>Book by midnight on 30 Sept 2017 for travel up to 31 March 2019. Discount varies depending on
resort, room type booked and date of travel between 20-55%, min stay 5 nights. Selected Love
Nest/Together Nest Suites include savings of up to 60% depending on date of travel. Discount is off
accommodation portion only. Blackout dates and terms and conditions apply.</p>
    </div>
  </div>
</div>