<div class="js-modal modal modal--padding modal--small is-closed" id="modal-terms-and-conditions">
  <div class="modal__wrap row--thinner">
    <div class="js-close-modal modal__close"></div>
  </div>
  <div class="modal__wrap row--thinner">
    <div class="modal__content row--padding">
      <h2 class="title title--small title--bold title--dark">Terms &amp; Conditions</h2>
      <p>Book by midnight on 8 Jan ’18 for travel up to 20 Dec ‘19. Discount varies depending on resort, room type booked and date of travel between 20-55%, min stay 5 nights. Discount is off accommodation portion only. Save an extra £150 per booking for guests staying for 7-9 nights, or save and extra £200 per booking for guests staying for 10 nights or more. Blackout dates and terms and conditions apply</p>
    </div>
  </div>
</div>