{% assign offers = site.data.offers %}
{% assign offer-type = include.type %}

{% case offer-type %}
  {% when 'full-width' %}
    {% for offer in offers %}
      {% include offer/full-width.html %}
    {% endfor %}
  {% when 'half-width' %}
    <div class="row row--columns-6-6-gutters">
      {% for offer in offers %}
        {% include offer/half-width.html %}
      {% endfor %}
    </div>
  {% when 'feature' %}
    {% for offer in offers %}
      {% include offer/feature.html %}
    {% endfor %}
  {% else %}
    {% for offer in offers %}
      {% include offer/full-width.html %}
    {% endfor %}
{% endcase %}