<div class="row row--columns-6-6 offer row--columns-vertical-align">

  <a
    href="{{ offer.url }}"
    id="image-{{ offer.class }}"
    class="row__column offer__image bg-image-ratio bg-image-ratio--1-1"
    style="background-image: url('{{ site.baseurl }}/img/offers/offer-{{offer.category}}-{{ offer.class }}.jpg')">
  </a>

  <div class="row__column offer__content">
    <h2 class="offer__content-title"><a id="title-link-{{ offer.class }}" href="{{ offer.url }}">{{ offer.title }}</a></h2>
    <p class="offer__content-subtitle">{{ offer.location }}</p>
    <p class="offer__content-description">"{{ offer.description }}"</p>
    <hr />
    <p>From <span class="offer__content-price">£{{ offer.price }}</span> {{ offer.price-description }}</p>
    <a id="button-link-{{ offer.class }}" href="{{ offer.url }}" class="btn">View Offer</a>
  </div>

</div>