
<div class="bob">

  <a href="{{ site.baseurl }}{{ resort.url }}" class="bob__image bg-image bg-image--rounded bg-image--ratio bg-image--ratio-3-2" style="background-image: url('{{ site.baseurl }}/img/bg/{{resort.title | slugify}}-01.jpg');">
  </a>

  <div class="bob__text">

    <h3 class="title title--smaller title--upper title--expanded">{{resort.title}}</h3>
    <p class="paragraph--lead">{{resort.intro | truncate:120}}</p>
    <a href="{{ site.baseurl }}{{ resort.url }}" class="btn btn--small">Read more</a>

  </div>

</div>

