// Offer block styles for {{ include offer-block.html }}


.offer {
  border: 1px solid $light-grey;
  background-color: $white;
  .row__column{
    margin-top: 0;
  }
  hr {
    margin: 1em 0;
    @include bp(xlarge) {
      margin: 2em 0;
    }
  }
  &__image {
    @include transition();
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $sandals-blue;
    background-size: auto 100% !important;
    @include bp(xlarge) {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: auto;
      min-height: 580px;
    }
    &-link {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    .offer:hover & {
      background-size: auto 105% !important;
    }
  }
  &__content {
    padding: ($margin / 1.2);
    @include bp(large){
      padding: ($margin * 1.33);
    }
  }
  &__location {
    text-transform: uppercase;
    letter-spacing: .075em;
    &:before {
      // Map marker icon
      content: "";
      display: inline-block;
      height: 1em;
      width: .833em;
      margin-right: .482em;
      margin-bottom: .35em;
      vertical-align: bottom;
      background-image: url( "../img/icons/map-pin.png" );
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      background-size: contain;
      .svg & { background-image: url( "../img/icons/map-pin.svg" ); }
    }
  }
}