// all custom styles for the site


// ---------- Section styles ----------

.invert-text {
  color: $white;
  .title { color: $white; }
}

.bg {
  &--white      { background-color: $white; }
  &--black      { background-color: $black; }
  &--light-grey { background-color: $light-grey; }
  &--dark-grey  { background-color: $dark-grey; }
  &--text-black     { background-color: $text-black; }
  &--text-heading   { background-color: $text-heading; }
  &--text-paragraph { background-color: $text-paragraph; }
  &--se-orange     { background-color: $se-orange; }
  &--se-light-grey { background-color: $se-light-grey; }
  &--se-dark-grey  { background-color: $se-dark-grey; }
  &--sandals-green { background-color: $sandals-green; }
  &--sandals-blue { background-color: $sandals-blue; }
}


// ---------- button ----------

.btn {
  @include transition;
  display:inline-block;
  padding: 1em 2em;
  border: 1px solid $black;
  color: $black;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: .15em;
  &:hover {
    color: white;
    border-color: $sandals-green;
    background-color: $sandals-green;
    text-decoration: none;
  }
  * + & { margin-top: 1em; }
  &--invert {
    border-color: white; color: white;
    &.btn--solid { background-color: white; color: $black; }
  }
  &--large {}
  &--small { padding: 0.3em 2em; }
  &--solid {
    background-color: $sandals-green; border-color: $sandals-green; color: white;
    &:hover { background-color: darken($sandals-green, 10); border-color: darken($sandals-green, 10); }
  }
}


// ---------- YOUTUBE VIDEO THUMBNAIL ----------

.video {
  position: relative;
  max-width: $xlarge;
  background-color: #000;
  overflow: hidden;
  margin: auto;
  border-radius: 5px;
  &:before {
    padding-bottom: 56.25%;
    display: block;
    content: "";
    width: 100%;
  }
  &__iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include background-attributes;
  }
  &__play {
    $button-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    height: $button-size;
    width: $button-size;
    margin-top: -( $button-size / 2 );
    margin-left: -( $button-size / 2 );
    background-image: url("../img/icons/play.png");
    @include background-attributes;
    background-size: contain;
    cursor: pointer;
    @include transition;
    &:hover {
      transform: scale( 1.25, 1.25);
    }
  }
}



// ---------- Game ----------
.game {

  border-top: 3px solid $sandals-blue;

  background: #ffffff;
  background: -moz-linear-gradient(top, #e3ebec 0%, #ffffff 100%);
  background: -webkit-linear-gradient(top, #e3ebec 0%,#ffffff 100%);
  background: linear-gradient(to bottom, #e3ebec 0%,#ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3ebec', endColorstr='#ffffff',GradientType=0 );

  // GAME INTRO COPY, AND RESULTS TEXT
  &__intro {
  }
  &__complete-text {
    display: none;
    .q { font-weight: 600; }
  }

  // GAME QUESTIONS
  &__questions {
    position: relative;
    margin-bottom: $margin;
  }
  &__question {
    position: absolute;
    top: 0; left: $margin; right: $margin;
    display: none;
    &--active {
      position: relative;
      top: 0; left: 0; right: 0;
      display: block;
    }
    &-options { margin-top: $margin/2; }
  }

  // RESULTS SECTION
  &__result {
    display: none;
  }

  // disable reset game button until game is played
  .game__start-btn { display: none; }
  .game__reset-btn { display: none; }

  /*======  CHANGES ON GAME COMPLETE // .game--complete  ======*/
  &--complete {
    .game__questions { display: none; }
    .game__complete-text { display: block; }
    .game__result { display: block; }
    .offer--selected { display: block; }
    .offer--eliminated { display: none; }
    .game__start-btn { display: none; }
    .game__reset-btn { display: inline-block; }
    .game__viewoffers-btn { display: inline-block; }
  }
  /*======  CHANGES ON GAME COMPLETE // .game--complete  ======*/
  &--viewoffers {
    .game__questions { display: none; }
    .game__complete-text { display: none; }
    .game__result { display: block; }
    .offer { display: block; }
    .game__start-btn { display: inline-block; }
    .game__reset-btn { display: none; }
    .game__viewoffers-btn { display: none; }
  }

}