// all custom styles for the site


// ---------- Section styles ----------

.invert-text { color: $white; }
.bg {
  &--white      { background-color: $white; }
  &--black      { background-color: $black; }
  &--light-grey { background-color: $light-grey; }
  &--dark-grey  { background-color: $dark-grey; }
  &--text-black     { background-color: $text-black; }
  &--text-heading   { background-color: $text-heading; }
  &--text-paragraph { background-color: $text-paragraph; }
  &--se-orange     { background-color: $se-orange; }
  &--se-light-grey { background-color: $se-light-grey; }
  &--se-dark-grey  { background-color: $se-dark-grey; }
}


// ---------- button ----------

.btn {
  @include transition;
  display:inline-block;
  padding: 1em 2em;
  border: 1px solid $black;
  color: $black;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: .15em;
  &:hover {
    color: white;
    border-color: $sandals-green;
    background-color: $sandals-green;
    text-decoration: none;
  }
  * + & { margin-top: 1em; }
}


// ---------- YOUTUBE VIDEO THUMBNAIL ----------

.video {
  position: relative;
  max-width: $xlarge;
  background-color: #000;
  overflow: hidden;
  margin: auto;
  border-radius: 5px;
  &:before {
    padding-bottom: 56.25%;
    display: block;
    content: "";
    width: 100%;
  }
  &__iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include background-attributes;
  }
  &__play {
    $button-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    height: $button-size;
    width: $button-size;
    margin-top: -( $button-size / 2 );
    margin-left: -( $button-size / 2 );
    background-image: url("../img/icons/play.png");
    @include background-attributes;
    background-size: contain;
    cursor: pointer;
    @include transition;
    &:hover {
      transform: scale( 1.25, 1.25);
    }
  }
}



// ---------- Game ----------
.game {

  &__question {
    display: none;
    &--active {
      display: block;
    }
  }
  &__answer {}



  #result {}

  #result-string {
    .q { font-weight: bold; }
  }

  &--complete {
    #result { display: block; }
    .offer {
      display: block;
      &--eliminated { display: none; }
    }
  }

}