// all custom styles for the site


// ---------- Section styles ----------

.invert-text { color: $white; }
.bg {
  &--white      { background-color: $white; }
  &--black      { background-color: $black; }
  &--light-grey { background-color: $light-grey; }
  &--dark-grey  { background-color: $dark-grey; }
  &--text-black     { background-color: $text-black; }
  &--text-heading   { background-color: $text-heading; }
  &--text-paragraph { background-color: $text-paragraph; }
  &--se-orange     { background-color: $se-orange; }
  &--se-light-grey { background-color: $se-light-grey; }
  &--se-dark-grey  { background-color: $se-dark-grey; }
}


// ---------- button ----------

.btn {
  @include transition;
  display:inline-block;
  padding: 1em 2em;
  border: 1px solid $black;
  color: $black;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: .15em;
  &:hover {
    color: white;
    border-color: $sandals-green;
    background-color: $sandals-green;
    text-decoration: none;
  }
  * + & { margin-top: 1em; }
}


// ---------- YOUTUBE VIDEO THUMBNAIL ----------

.video {
  position: relative;
  max-width: $xlarge;
  background-color: #000;
  overflow: hidden;
  margin: auto;
  border-radius: 5px;
  &:before {
    padding-bottom: 56.25%;
    display: block;
    content: "";
    width: 100%;
  }
  &__iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include background-attributes;
  }
  &__play {
    $button-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    height: $button-size;
    width: $button-size;
    margin-top: -( $button-size / 2 );
    margin-left: -( $button-size / 2 );
    background-image: url("../img/icons/play.png");
    @include background-attributes;
    background-size: contain;
    cursor: pointer;
    @include transition;
    &:hover {
      transform: scale( 1.25, 1.25);
    }
  }
}


// ---------- OVERVIEW MAP ----------

// keeps content above markers
.upper-content {
  position: relative;
  z-index: $z-content;
}

.map {
  position: relative;
  height: 500px;
  @include bp(xxlarge){
    height: 580px;
  }
  &__divider:after {
    content: '';
    display: block;
    height: 6px;
    border-top: 1px solid $white-5;
    border-bottom: 1px solid $white-5;
  }
  &__title{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content-upper;
    padding-bottom: ($margin*1.5);
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-background;
    background-image: url(../img/bg/map.jpg);
    background-position: top center;
    @include bp(xlarge){
      position: fixed;
    }
  }
  &__markers {
    display: none;
    @include bp(xxlarge){
      position: fixed;
      top: 0;
      left: 50%;
      z-index: $z-content;
      display: block;
    }
  }
  &__marker {
    position: absolute;
    letter-spacing: .1em;
    text-transform: uppercase;
    @include transition;
    &:hover{
      color: lighten($sandals-blue, 25);
      text-decoration: none;
    }
    &:before {
      // Map marker
      content: "";
      position: absolute;
      top: 3px;
      left: -25px;
      display: inline-block;
      height: 20px;
      width: 20px;
      background-image: url( "../img/icons/map-pin-white.png" );
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      background-size: contain;
      .svg & { background-image: url( "../img/icons/map-pin-white.svg" ); }
    }
    // pin positions
    &--antigua { top: 239px; right: -395px; }
    &--bahamas { top: 158px; left: -175px; }
    &--jamaica { top: 342px; left: -280px;
      // top aligned map marker
      &:before { left: 22px; top: -30px; }
    }
    &--barbados { top: 345px; right: -460px;
      // top aligned map marker
      &:before { left: 30px; top: -25px; }
    }
    &--grenada { top: 357px; right: -332px;
      // right aligned map marker
      &:before { left: auto; right: -25px; }
    }
    &--saint-lucia { top: 309px; right: -341px;
      // right aligned map marker
      &:before { left: auto; right: -25px; }
    }
  }
}


// ---------- OFFER CATEGORY ----------

.banner {
  position: relative;
  height: 75%;
  background-color: $light-grey;
  overflow-x: auto;
  @include background-attributes;
  @include bp(xlarge){
    background-attachment: fixed;
  }
  &__divider:after {
    content: '';
    display: block;
    height: 6px;
    border-top: 1px solid $white-75;
    border-bottom: 1px solid $white-75;
  }
  &__title{
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content-upper;
    padding-bottom: ($margin*1.5);
    text-shadow: -1px 5px 20px $black-25;
  }
}
