

// ---------- OVERVIEW MAP ----------

// keeps content above markers
.upper-content {
  position: relative;
  z-index: $z-content;
}

.map {
  position: relative;
  height: 540px;
  @include bp(xxlarge){
    height: 620px;
  }
  &__divider:after {
    content: '';
    display: block;
    height: 6px;
    border-top: 1px solid $white-5;
    border-bottom: 1px solid $white-5;
    max-width: 200px;
    margin: 0.25em auto 0.35em;
  }
  &__title{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content-upper;
    padding-bottom: ($margin*1.5);
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-background;
    background-image: url(../img/bg/map.jpg);
    background-position: top center;
    @include bp(xlarge){
      position: fixed;
    }
  }
  &__markers {
    display: none;
    @include bp(xxlarge){
      position: fixed;
      top: 0;
      left: 50%;
      z-index: $z-content;
      display: block;
    }
  }
  &__marker {
    position: absolute;
    letter-spacing: .1em;
    text-transform: uppercase;
    @include transition;
    &:hover{
      color: lighten($sandals-blue, 25);
      text-decoration: none;
    }
    &:before {
      // Map marker
      content: "";
      position: absolute;
      top: 3px;
      left: -25px;
      display: inline-block;
      height: 20px;
      width: 20px;
      background-image: url( "../img/icons/map-pin-white.png" );
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      background-size: contain;
      .svg & { background-image: url( "../img/icons/map-pin-white.svg" ); }
    }
    // pin positions
    &--antigua { top: 239px; right: -395px; }
    &--bahamas { top: 158px; left: -175px; }
    &--jamaica { top: 342px; left: -280px;
      // top aligned map marker
      &:before { left: 22px; top: -30px; }
    }
    &--barbados { top: 345px; right: -460px;
      // top aligned map marker
      &:before { left: 30px; top: -25px; }
    }
    &--grenada { top: 357px; right: -332px;
      // right aligned map marker
      &:before { left: auto; right: -25px; }
    }
    &--saint-lucia { top: 309px; right: -341px;
      // right aligned map marker
      &:before { left: auto; right: -25px; }
    }
  }
}


// ---------- OFFER CATEGORY ----------

.banner {
  position: relative;
  height: 66.6667%;
  background-color: $light-grey;
  overflow-x: auto;
  @include background-attributes;
  @include bp(xlarge){
    background-attachment: fixed;
  }
  &__divider:after {
    content: '';
    display: block;
    height: 6px;
    border-top: 1px solid $white-75;
    border-bottom: 1px solid $white-75;
    max-width: 200px;
    margin: auto;
    margin-top: 0.2em;
  }
  &__title{
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content-upper;
    padding-bottom: ($margin*3);
    text-shadow: -1px 5px 20px $black-25;
  }
  &__overlay {
    position: absolute;
    z-index: $z-content;
    top:0;bottom:0;left:0;right:0;
    background-color: $dark-grey;
    opacity: 0;
    pointer-events: none;
  }
}