---
layout: default
title: Resorts
class: resorts
nav-order: 2
intro: All resorts. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum. Nulla vitae elit libero, a pharetra augue. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
---

{% assign page-class = page.title %}

{% include title-banner.html %}

<section class="section bg--white">
  <div class="row row--padding align-center">
    <p class="p--large">{{page.intro}}</p>
  </div>
</section>



{% assign resorts = site.pages | where: "layout","offer-category" | sort: "resort-order" %}

<section class="section bg--light-grey">

  <div class="row row--padding">
    {% for resort in resorts %}
      {% if resort.pois %}
        {% include resort-large.html %}
      {% endif %}
    {% endfor %}
  </div>

</section>
<section class="section">

  <div class="row row--padding align-center">
    <h3 class="title title--smaller title--upper title--expanded">All other resorts</h3>
  </div>

  <div class="row row--padding row--columns-4-4-4-gutters">

    {% for resort in resorts %}
      {% unless resort.pois %}
        {% include resort.html %}
      {% endunless %}
    {% endfor %}

  </div>

  <div class="row row--padding align-center">
    <h5 class="title title--tiny title--upper title--expanded">Still not sure?</h5>
    <a href="{{ site.baseurl }}/get-inspired" class="btn">Get inspired</a>
  </div>

</section>