// moidifiers for the site footer theme, is passed as an option on include

$footer-nav-color: $white;

.site-nav {
  &--footer {
    background-color: $white;
    &:before { background-image: url("../img/icons/nav-arrow-footer.svg"); }
  }
  &--footer &__link {
    &.is-current      { background-color: $grey-lightest; }
    .no-touch &:hover { background-color: $grey-lightest; }
  }
}