

.offer {
  background-color: $white;

  // offer spacing
  & + & { margin-top: 2em; }

  // image half
  &__img {}

  // text half
  &__text {}

  &__location {
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 500;
    &:before {
      // Map marker icon
      content: "";
      display: inline-block;
      height: 1em;
      width: .833em;
      margin-right: .482em;
      margin-bottom: .2em;
      vertical-align: bottom;
      background-image: url( "../img/icons/map-pin-blue.svg" );
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      background-size: contain;
    }
  }
}