// general styles for the project that wouldn't be a reuseable component

.bg {
  &--white { background-color: $white; }
  &--grey-light { background-color: $grey-light; }
  &--grey-lighter { background-color: $grey-lighter; }
  &--grey-lightest { background-color: $grey-lightest; }
  &--grey { background-color: $grey; }
  &--grey-dark { background-color: $grey-dark; }
  &--grey-darker { background-color: $grey-darker; }
  &--grey-darkest { background-color: $grey-darkest; }
  // images
  &--fixed {
    background-attachment: fixed;
    .touch & { background-attachment: scroll; }
  }
}

.rounded-corners { border-radius: 4px; overflow: hidden; }
.box-shadow { box-shadow: 0 5px 30px rgba($grey-darkest,0.2); }

.image-banner {
  min-height: 460px;
}

// general width limits for content
.width {
  margin-right: auto;
  margin-left: auto;
  &--xxs { max-width: ($sm / 3); }
  &--xs  { max-width: ($sm / 2); }
  &--sm  { max-width: $sm; }
  &--md  { max-width: $md; }
  &--lg  { max-width: $lg; }
  &--xl  { max-width: $xl; }
  &--xxl { max-width: $xxl; }
}

.link-sandals {
  color: $b-blue;
  &:hover {
    color: $b-blue-dark;
    text-decoration: underline;
  }
}