// general styles for the project that wouldn't be a reuseable component

.bg {
  &--white { background-color: $white; }
  &--grey-light { background-color: $grey-light; }
  &--grey-lighter { background-color: $grey-lighter; }
  &--grey-lightest { background-color: $grey-lightest; }
  &--grey { background-color: $grey; }
  &--grey-dark { background-color: $grey-dark; }
  &--grey-darker { background-color: $grey-darker; }
  &--grey-darkest { background-color: $grey-darkest; }
  // images
  &--fixed { background-attachment: fixed; }
}

.rounded-corners { border-radius: 4px; overflow: hidden; }
.box-shadow { box-shadow: 0 5px 30px rgba($grey-darkest,0.2); }

.country-tile {
  @include transition();
  transform: scale(1);
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba($grey-darkest,0.1);
  background-color: $grey-lightest;
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 30px rgba($grey-darkest,0.2);
  }
}