<div class="row row--columns-6-6 offer">
  <div class="row__column offer__image" style="background-image: url('{{ site.baseurl }}/img/offers/{{ offer.title | slugify }}.jpg')">
    <a class="offer__image-link" id="image-link-{{ offer.title | slugify }}" href="http://www.sandals.co.uk/specials/uk-twin-centre-holidays/"></a>
  </div>
  <div class="row__column offer__content">
    <h2 class="title title--dark title--smaller"><a id="title-link-{{ offer.title | slugify }}" href="http://www.sandals.co.uk/specials/uk-twin-centre-holidays/">{{ offer.title }}</a></h2>
    <div class="title title--sub-heading title--upper title--expanded title--grey">Multi Centre holiday</div>
    <hr>
    {% for resort in offer.resorts %}
      <div class="offer__location"><span class="title title--upper title--dark">{{ resort.title }}</span></div>
      <p>5 nights stay at {{ resort.room }}</p>
    {% endfor %}
    <hr>
    <p>now <strong class="title--smallest">£{{ offer.price }}</strong> per person for 10 days</p>
    <a id="button-link-{{ offer.title | slugify }}" href="http://www.sandals.co.uk/specials/uk-twin-centre-holidays/" class="btn">View Offer</a>
  </div>
</div>