---
layout: default
title: Experts
class: experts
nav-order: 4
intro: >
  <p class="p--lead">Find out more about Sandals luxurious Caribbean resorts by meeting Yasmina Cherquaoui, our Sandals Resorts expert, and Getting Stamped, travel blogging couple who know a thing or two about idyllic beach escapes... </p>
---


{% include title-banner.html %}

<section class="section bg--white">
  <div class="row row--padding align-center">
    {{ page.intro }}
  </div>
</section>


{% assign experts = site.data.experts %}
<section class="section bg--light-grey">
  <div class="row row--padding row--columns-6-6-gutters align-center">

    {% for expert in experts %}
      <a
        href="javascript:void(0);" class="row__column js-open-modal invert-text bg-image bg-image--ratio bg-image--ratio-1-1 bg-image--rounded bg-image--shadow" style="background-image: url({{ site.baseurl }}/img/content/expert-{{ expert.name | slugify }}.jpg);" data-modal="{{ expert.name | slugify }}">
        <span class="bg-image__content">
          <h4 class="bg-image__content__title bg-image__content__title-fade title title--smaller">{{ expert.name }}</h4>
          <p class="bg-image__content__description p--lead">{{ expert.intro }}</p>
        </span>
      </a>
    {% endfor %}

  </div>
</section>

<section class="section bg--white">

  <div class="row row--padding align-center">
    <h3 class="title title--medium title--upper title--expanded">Experts tips</h2>
  </div>

  <div class="row row--padding">
    <div class="line-length">
      <h3 class="row title title--dark title--smaller title--extra-margin align-center">Barbados</h3>
      <div class="row row--columns-4-4-4-gutters">
        <div class="row__column">
          <div class="bg-image bg-image--ratio bg-image--ratio-16-9" style="background-image: url('{{site.baseurl}}/img/content/experts/barbados-crane-beach.jpg');"></div>
          <p class="title title--bold title--micro title--spacing">Crane Beach</p>
          <p>This was our favorite beach! The Crane is located on the lower east coast of the island. The sand here has a pinkish hue to it from the seashells – a paradise for sure! </p>
        </div>
        <div class="row__column">
          <div class="bg-image bg-image--ratio bg-image--ratio-16-9" style="background-image: url('{{site.baseurl}}/img/content/experts/barbados-oistin-s-fish-market.jpg');"></div>
          <p class="title title--bold title--micro title--spacing">Oistin’s Fish Market</p>
          <p>This is the place to be Friday nights for food and a party. Every night it’s a fresh seafood market with lots of stalls cooking up the day’s catch. Here I had some of the best seafood I have ever had!</p>
        </div>
        <div class="row__column">
          <div class="bg-image bg-image--ratio bg-image--ratio-16-9" style="background-image: url('{{site.baseurl}}/img/content/experts/barbados-mullins-bay.jpg');"></div>
          <p class="title title--bold title--micro title--spacing">Mullins Bay</p>
          <p>Located on the west coast of the island on the northern end. This was another favorite beach of ours. Again much more secluded than the beaches on the southwestern tip of the island for perfect days of serene beach bliss!</p>
        </div>
      </div>

      <hr class="hr--center hr--double">
      <h3 class="row title title--dark title--smaller title--extra-margin align-center">Jamaica</h3>
      <div class="row row--columns-4-4-4-gutters">
        <div class="row__column">
          <div class="bg-image bg-image--ratio bg-image--ratio-16-9" style="background-image: url('{{site.baseurl}}/img/content/experts/jamaica-diving.jpg');"></div>
          <p class="title title--bold title--micro title--spacing">Diving</p>
          <p>Gearing up to dive into 80° water sounds a lot more enjoyable than gearing up to shovel the snow from your doorstep. We got a few tanks in on our most recent trip to Jamaica at Sandals Ochi, and the best part was the diving which was included with our stay in Ocho Rios. Diving in Jamaica is a must.</p>
        </div>
        <div class="row__column">
          <div class="bg-image bg-image--ratio bg-image--ratio-16-9" style="background-image: url('{{site.baseurl}}/img/content/experts/jamaica-the-pelican-bar.jpg');"></div>
          <p class="title title--bold title--micro title--spacing">The Pelican Bar</p>
          <p>What’s not to love about a bar constructed of sticks almost a Kilometer from the shore? This one of a kind bar serves beer, drinks and upon special request food from the shore. The only way to reach the pelican bar is by boat. If you take the trip out to the bar keep your eyes open for dolphins swimming as you sail out to the bar.</p>
        </div>
        <div class="row__column">
          <div class="bg-image bg-image--ratio bg-image--ratio-16-9" style="background-image: url('{{site.baseurl}}/img/content/experts/jamaica-the-falls.jpg');"></div>
          <p class="title title--bold title--micro title--spacing">The Falls</p>
          <p>Jamaica has a few famous waterfalls to check out while on the Island. Near Ocho Rios visit Dunn’s Falls.  On the west side of the island, YS falls is worth a visit.</p>
        </div>
      </div>

      <hr class="hr--center hr--double">
      <h3 class="row title title--dark title--smaller title--extra-margin align-center">Bahamas</h3>
      <div class="row row--columns-6-6-gutters row--columns-vertical-align">
        <div class="row__column">
          <div class="bg-image bg-image--ratio bg-image--ratio-16-9" style="background-image: url('{{site.baseurl}}/img/content/experts/bahamas-pigs.jpg');"></div>
        </div>
        <div class="row__column">
          <p class="title title--bold title--micro title--spacing">Swimming Pigs</p>
          <p>Pigs swimming in crystal clear turquoise water in the Bahamas – Sign me up! These furry little tropical pigs were pretty much the selling point of our recent trip to the Bahamas. As if we really needed to be sold on going to the Bahamas. Swimming with the pigs here we come!</p>
        </div>
      </div>
    </div>
  </div>
</section>





<!--========== EXPERT MODALS ========== -->

{% for expert in experts %}
<div class="js-modal modal modal--padding-bottom modal--small is-closed" id="modal-{{ expert.name | slugify }}">
  <div class="modal__wrap row--thin">
    <div class="js-close-modal modal__close"></div>
  </div>
  <div class="modal__wrap row--thin">
    <div class="modal__content">

      <div class="row align-center invert-text bg-image bg-image--ratio bg-image--ratio-21-9 bg-image--large--ratio-4-3" style="background-image: url({{ site.baseurl }}/img/content/expert-{{ expert.name | slugify }}.jpg);">
        <span class="bg-image__content">
          <h4 class="bg-image__content__title title title--medium title--upper title--expanded">{{ expert.name }}</h4>
        </span>
      </div>

      <div class="row row--padding align-center">
        <p class="p--large line-length">{{ expert.intro }}</p>
      </div>

      <div class="row row--padding row--columns-6-6-gutters">
        <div class="row__column">
          {% for question in expert.questions %}
            {% assign half = forloop.length | divided_by:2.0 | ceil %}
            <h3 class="title title--dark title--micro title--bold title--extra-margin">{{question.question}}</h3>
            <p>{{question.answer}}</p>
            {% if forloop.index == half %}
              </div>
              <div class="row__column">
            {% endif %}
          {% endfor %}
        </div>
      </div>

    </div>
  </div>
</div>
{% endfor %}
