---
layout: default
---

{% assign page-class = page.title %}

{% include title-banner.html %}

<section class="section bg--white">
  <div class="row row--padding align-center">
    <p class="p--large">{{page.intro}}</p>
  </div>
</section>

<section class="section banner" style="background-image: url('{{site.baseurl}}/img/bg/{{page.title | slugify}}-02.jpg');"></section>

<section class="section offers bg--light-grey">
  <div class="row row--padding">
    {% include category-offers.html type = "full-width" category = page-class %}
  </div>
</section>



