---
layout: default
---

{% assign page-class = page.title %}

<div class="section banner invert-text" style="background-image: url('{{site.baseurl}}/img/bg/{{page.title | slugify}}-01.jpg');">
  <div class="banner__title">
    <div class="row row--padding align-center">
      <h1 class="banner__divider title title--larger title--upper title--bold title--expanded">{{page.title}}</h1>
    </div>
  </div>
</div>

<section class="section bg--white">
  <div class="row row--padding align-center">
    <p class="paragraph--large">{{page.intro}}</p>
  </div>
</section>

<section class="section banner" style="background-image: url('{{site.baseurl}}/img/bg/{{page.title | slugify}}-02.jpg');"></section>

<section class="section offers bg--light-grey">
  <div class="row row--padding">
    {% include category-offers.html type = "full-width" category = page-class %}
  </div>
</section>



