---
layout: default
title: Offers
class: offers
nav-order: 5
intro:
---


{% include title-banner.html %}

<section class="section bg--white">
  <div class="row row--padding align-center">
    {{ page.intro }}
  </div>
</section>


<section class="section bg--light-grey">
  <div class="row row--padding">

    {% assign offers = site.data.offers | sort: 'price' %}
    {% for offer in offers %}
      {% if offer.category == "Multi Centre" %}
        {% include offer/full-width-multi.html %}
      {% else %}
        {% include offer/full-width.html %}
      {% endif %}
    {% endfor %}

  </div>
</section>
